<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/styles.css">
		<title>Products</title>
	</head>
	<body>
		<header>
			<!-- Navigation -->
			<h1><a href="../index.html">Index</a></h1>
			<nav>
				<ul>
					<li><a class="list-link" href="./about_us.html">About Us</a></li>
					<li><a class="list-link" href="./services.html">Services</a></li>
					<li><a class="list-link" href="./products.html">Products</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<article>
				<img class="article-img" src="../images/audi.jpg" width="100%" height="100%" alt="AUDI expensive car">
				<p>How to be your own boss</p>
				<p>150 &euro;</p>
			</article>

			<article>
				<img class="article-img" src="../images/hipster.jpg" width="100%" height="100%" alt="Hipster with sunglasses">
				<p>How to be an entrepreneur</p>
				<p>250 &euro;</p>
			</article>

			<article>
				<img class="article-img" src="../images/guitarist.jpg" width="100%" height="100%" alt="Random chad playing guitar">
				<p>How to be a good musician</p>
				<p>400 &euro;</p>
			</article>
		</main>

		<footer>
			<p>PCT 4 &copy; 2021 Aragon</p>
		</footer>
	</body>
</html>
