<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/styles.css">
		<title>Productos - TCP4 U</title>
	</head>
	<body>
		<header>
			<section class="row space__between">
				<a id="logo" href="../index.html" alt="&Iacute;ndice">TCP4 U</a>
				<nav class="row">
					<a class="nav__link" href="./views/products.html" alt="Productos">Productos</a>
					<a class="nav__link" href="./views/contact.html" alt="Contacto">Contacto</a>
					<a class="nav__link" href="./views/services.html" alt="Servicios">Servicios</a>	
				</nav>
			</section>
		</header>

		<main>
			<section>
				<h1 class="body__logo">Productos</h1>
				<ul>
					<li>
						<article class="product row">
							<img class="product__img" src="../images/black_mouse.jpg" alt="Black mouse">
							<div class="product__info">
								<p class="product__name">Black mouse</p>
								<p class="product__description">The darkest mouse on sale.</p>
								<div class="row">
									<p class="product__price">0.005 BTC</p>
									<input type="button" value="Comprar">
								</div>
							</div>
						</article>
					</li>
					<li>
						<article class="product reverse__row">
							<img class="product__img" src="../images/colourful_mouse.jpg" alt="Colourful mouse">
							<div class="product__info text__right">
								<p class="product__name">Colourful mouse</p>
								<p class="product__description">Mouse with a ton of different colours to hide your emotional emptiness!</p>
								<div class="row text__right">
									<p class="product__price">0.007 BTC</p>
									<input type="button" value="Comprar">
								</div>
							</div>
						</article>
					</li>
					<li>
						<article class="product row">
							<img class="product__img" src="../images/ergonomic_keyboard.jpg" alt="Ergonomic keyboard">
							<div class="product__info">
								<p class="product__name">Ergonomic keyboard</p>
								<p class="product__description">This keyboard is weird as f***, but it is so comfortable.</p>
								<div class="row">
									<p class="product__price">0.010 BTC</p>
									<input type="button" value="Comprar">
								</div>
							</div>
						</article>
					</li>
					<li>
						<article class="product reverse__row">
							<img class="product__img" src="../images/pink_mouse.jpg" alt="Pink mouse">
							<div class="product__info text__right">
								<p class="product__name">Pink mouse</p>
								<p class="product__description">This pink mouse will help you clicking on the most cringe websites out there.</p>
								<div class="row text__right">
									<p class="product__price">0.50 BTC</p>
									<input type="button" value="Comprar">
								</div>
							</div>
						</article>
					</li>
					<li>
						<article class="product row">
							<img class="product__img" src="../images/white_keyboard.jpg" alt="White keyboard">
							<div class="product__info">
								<p class="product__name">White keyboard</p>
								<p class="product__description">This keyboard is more expensive than the black one just because it is white.</p>
								<div class="row">
									<p class="product__price">0.50 BTC</p>
									<input type="button" value="Comprar">
								</div>
							</div>
						</article>
					</li>
					<li>
						<article class="product reverse__row">
							<img class="product__img" src="../images/usb.jpg" alt="USB">
							<div class="product__info text__right">
								<p class="product__name">USB</p>
								<p class="product__description">This USB was used by the US Army in Area 51 airbase.</p>
								<div class="row text__right">
									<p class="product__price">1.00 BTC</p>
									<input type="button" value="Comprar">
								</div>
							</div>
						</article>
					</li>
				</ul>
			</section>
		</main>

		<footer>
			<section>
				<p>PCT4 U &copy; 2021 Arag&oacute;n</p>
			</section>
		</footer>
</html>
